@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@300;400&display=swap');
:root {
  --color: #f9fafb;
  --background: #0a1015;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--color);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0;
}
